@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin u-margins {
    @for $x from 1 through 10 {
      .u-mt-#{$x} { 
        margin-top: #{$x}rem !important;
      }
      .u-mr-#{$x} { 
        margin-right: #{$x}rem !important;
      }
      .u-mb-#{$x} { 
        margin-bottom: #{$x}rem !important;
      }
      .u-ml-#{$x} { 
        margin-left: #{$x}rem !important;
      }
    }
}

@mixin text-gradient($from-color, $to-color) {
  background-image: linear-gradient(
    to right,
    $from-color,
    $to-color
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}