.footer {
  background-color: $color-grey-dark-3;
  padding: 5rem 0;
  color: $color-grey-light-1;
  font-size: 1.3rem;

  &__logo-box {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation,
  &__copyright {
    border-top: 1px solid $color-grey-dark;
    padding: 2rem 0;

    @include respond(tab-port) {
      padding-bottom: 0;
    }
  }

  &__navigation {
      text-align: left;

      @include respond(tab-port) {
        text-align: center;
      }
  }

  &__copyright {
    float: right;
    margin-left: auto;
  }

  &__nav-list {
    list-style: none;
  }

  &__nav-list-item {
    display: inline-block;
    transition: all 0.3s;
    backface-visibility: hidden;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: inherit;
      color: $color-primary;
      box-shadow: 0.2rem 0.2rem 0 rgba($color-grey-light-1, 0.5);
      transform: scale(1.2) rotate(5deg) translate(0.25rem, -0.5rem);
    }

    &:active {
      transform: translateY(-0.25rem);
      color: $color-primary;
    }
  }

  &__nav-link {
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
      padding: 0.5rem;
    }
  }
}
