.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: $border-radius-sm;
  padding: 6rem 6rem 6rem 9rem;
  transform: skewX(-12deg);
  @include clearfix;

  @include respond(phone) {
    transform: skewX(0);
    padding: 3rem;
  }

  //The parent is skewed by -12deg - skew the children back again
  & > * {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    backface-visibility: hidden;
    position: relative;
    //Width and height must be defined for shape-outside to work
    width: 15rem;
    height: 15rem;
    //Make the text contained in the div to the right
    //of this element wrap around a circle
    float: left;
    overflow: hidden;
    border-radius: 50%;;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    //Move the shape out from the text slightly
    //Need to also specifically skew the shape back - the
    //addtion .01 degree resolves a small artifact that appears
    //during the hover
    transform: translateX(-3rem) skewX(12.01deg);

    @include respond(phone) {
      transform: skewX(0.01deg) scale(1.3);
      float: none;
      margin: 3rem auto;
    }
  }

  &__img {
    height: 100%;
    margin-left: -25%;
    transform: scale(1.25);
    transition: all 0.5s;
  }

  &__caption {
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 2rem;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
