.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, .6);
  border-radius: $border-radius-sm;
  padding: 6rem 6rem 6rem 9rem;
  transform: skewX(-12deg);
  @include clearfix;

  //The parent is skewed by -12deg - skew the children back again
  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    position: relative;
    //Width and height must be defined for shape-outside to work
    width: 15rem;
    height: 15rem;
    //Make the text contained in the div to the right
    //of this element wrap around a circle
    float: left;
    shape-outside: circle(50% at 50% 50%);

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    //Move the shape out from the text slightly
    //Need to also specifically skew the shape back - the 
    //addtion .01 degree resolves a small artifact that appears
    //during the hover
    transform: translateX(-3rem) skewX(12.01deg);
  }

  &__img {
    height: 100%;
    margin-left: -25%;
    transform: scale(1.25);
    transition: all 0.5s;
  }

  &__caption {
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    font-size: 2rem;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
  }
}
